@media (max-width: 500px) {
 h1 {
 	font-size: 36px;
 }
 h2 {
 	font-size: 20px;
 }
 body {
 	font-size: 15px;
 }
li {
	display: block;
	padding: 5px;
}
}	
.navmenu{
	background-color: #789684;
	padding: 10px;
}
 ul {
 	list-style: none;
 	padding: 0px;
 	margin: 0px;
 }
  ul li {
  	display: inline-block;
  }
  li ul {
  	display: none;
  }

  ul li a {
  	display: block;
  	background: #789684;
  	padding: 5px 10px 5px 10px;
  	text-decoration: none;
    white-space: nowrap;
    color: black;
    font-family: Cuprum;
}
  ul li a:hover {
  	background: #d9ffb3;
  }
  li:hover ul {
  	display: block; 
  	position: absolute;
  	background: #d9ffb3;
  }
  li:hover li {
  	float: none;
  }
  li:hover a {
  	background: #d9ffb3;
  }
  li:hover li a:hover {
  	background: #789684;
  }
  #drop-nav li ul li {border-top: 0px;
  }
body {
	background:url(https://s-media-cache-ak0.pinimg.com/originals/74/d0/e7/74d0e786967db6509e74296ad197f361.jpg);
	background-size: cover;
	color: black;
	font-family: Cuprum;
	font-size: 18px;
}
.home {
	background-color: #d9ffb3;
	margin: 40px;
	padding: 20px;
	font-family: Cuprum;
	background: linear-gradient(bottom, rgba(217,255,179,.9), rgba(120,150,132,.9));
  	background: -webkit-linear-gradient(bottom, rgba(217,255,179,.9), rgba(120,150,132,.9));
  	background: -moz-linear-gradient(bottom, rgba(217,255,178,.9), rgba(120,150,132,.9));
}
h1 {
  		text-align: center;
  		font-size: 60px;
  		font-family: Fascinate Inline;
  		color: rgb(33,43,37)
  	}
 h2 {
 	color: rgb(33,43,37)
 }
 /*Sovra CSS*/
 	#wrapper .text {
	position:relative;
	bottom:30px;
	left:0px;
	visibility:hidden;
	}
	#wrapper:hover .text {
  visibility:visible;
	}
	.text { 
	background: rgba(200, 54, 54, 0.5);
  	color: rgba(255,255,255, 1);
  	text-align: center; 
  	max-width: 500px;
  	margin: 0 auto;
	}
  img.hover{
    height: 200px;
    width: 280px;
  }
/* Isabella Css*/

ol {
  font-size: 18px;
}
b {
  font-size: 20px;
  color: rgb(33,43,37);
}
#main {
  text-align: center;
  font-family: Cuprum;
  font-size: 20px;
  background: rgba(217,255,179,.8);
  margin: 40px;
  border-style: dotted;
  border-color: rgba(120,150,132,1)
}
.next-button {
  margin: 20px;
}
input {
  font-size: 18px;
}
.fill {
  background: white;
  color: rgb(33,43,37);
  border-bottom: 2px black solid;
  font-family: Architects Daughter;
  padding: 0 6px;
  margin: 4px;
}
.start {
  background-color: #d9ffb3;
  margin: 40px;
  padding: 20px;
  font-family: Cuprum;
  background: linear-gradient(bottom, rgba(217,255,179,.9), rgba(120,150,132,.9));
    background: -webkit-linear-gradient(bottom, rgba(217,255,179,.9), rgba(120,150,132,.9));
    background: -moz-linear-gradient(bottom, rgba(217,255,179,.9), rgba(120,150,132,.9));

 /*Footer Css*/
}
#buzz small {
	color: black;
}
#social-buttons button{
	color: white;
}
.btn-facebook {
background-color: #4868ac;
border-color: #314776;
}

.btn-pinterest {
background-color: #b62f26;
border-color: #b62f26;
}
footer {
	position: absolute;
	width: 100%;
	display: block;
	background-color: #789684;
	height: auto;
	padding: 20px;
	color: black;
	font-family: Cuprum;
	font-size: 18px;
}

